
<div ui-view></div>

<div class="ui green segment">
  <div class="ui grid">
    <div class="fourteen wide column">
      <h1 class="ui header">Containers</h1>
    </div>
    <div class="two wide column">
      <a class="circular ui icon button green"
         ui-sref="containers.create"
         ng-show="$state.is('containers')">
        <i class="icon plus"></i>
      </a>
    </div>
  </div>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Links</th>
        <th>Ports</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(name, container) in containers"
          ng-class="status"
          ng-click="edit(name)"
          ng-mouseenter="status = 'active'"
          ng-mouseleave="status = ''">
        <td>{{ ::name }}</td>
        <td>{{ ::container.image }}</td>
        <td>
          <div class="ui label" ng-repeat="link in container.links">
            {{ link }}
          </div>
        </td>
        <td>
          <div class="ui label" ng-repeat="port in container.ports">
            {{ port }}
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>

