<div class="ui menu green">
  <a ng-repeat="menuItem in menu"
     ng-class="isActive(menuItem)"
     ui-sref="{{ menuItem.state }}">

     <i ng-class="menuItem.icon" class="icon"></i>
     {{ menuItem.name | capitalize }}

  </a>
</div>
