<div class="ui green segment">
  <h2 class="ui header">
    {{ $state.is('containers.edit') ? 'Edit' : 'New' }} container
  </h2>
  <form class="ui form" name="createForm" novalidate>

    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input type="text"
             name="name"
             placeholder="Service name"
             ng-model="name"
             required>
      </div>
      <div class="field">
        <label>Image</label>
        <input type="text"
               name="image"
               placeholder="dockerfile/nodejs"
               ng-model="container.image"
               required>
      </div>
    </div>

    <div class="field">
      <label>Repository Url</label>
      <table class="ui celled table" ng-show="container.repositories.length">
        <tbody>
          <tr ng-repeat="repository in container.repositories">
            <td><strong>{{ ::repository.name }}</strong></td>
            <td>{{ ::repository.url }}</td>
          </tr>
        </tbody>
      </table>  

      <div class="ui action input item">
        <input type="text"
             name="repository"
             placeholder="git://bitbucket.com:you/app.git"
             ng-model="newRepository"
             ng-pattern="gitRepositoryRegexp">
        <a class="ui icon green basic button" 
           ng-class="{ disabled: !createForm.repository.$valid }" 
           ng-click="addRepository()">
          <i class="plus basic green icon"></i>
        </a>
      </div>
    </div>

    <div class="field" ng-show="container.repositories.length">
      <label>Volumes</label>
      <table class="ui celled table" ng-show="container.volumes.length">
        <tbody>
          <tr ng-repeat="volume in container.volumes">
            <td>
              <a class="ui icon button basic mini" ng-click="removeVolume(volume)">
                <i class="minus red icon"></i>
              </a>
              <strong>{{ ::volume.repository.name }}</strong>
            </td>
            <td>
              {{ ::volume.from }}
              <i class="right chevron icon divider" style="margin:0px "></i>
              {{ ::volume.to }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="three fields" ng-show="container.repositories.length">
      <div class="field">
        <dropdown title="repository" ng-model="newVolumeRepository">
          <dropdown-group title="repository.name" ng-repeat="repository in container.repositories">{{ repository.name }}</dropdown-group>
        </dropdown>
      </div>
      <div class="field">
        <input type="text" name="from" placeholder="Path in repository" ng-model="newFrom">
      </div>
      <div class="field">
        <div class="ui action input">
          <input type="text" name="to" placeholder="Path in container" ng-model="newTo">
          <a class="ui icon basic green button"
             ng-class="{ disabled: !createForm.from.$valid || !createForm.to.$valid || !newVolumeRepository }"
             ng-click="addVolume()">
            <i class="plus basic green icon"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Ports</label>
        <div class="ui large labels">
          <div class="ui label" ng-repeat="port in container.ports">
            {{ ::port }}
            <i class="delete basic red icon" ng-click="removePort(port)"></i>
          </div>
        </div>
        <div class="ui action input item">
          <input type="number" name="port" placeholder="8080" ng-model="newPort">
          <a class="ui icon green basic button" 
             ng-class="{ disabled: !createForm.port.$valid }"
             ng-click="addPort()">
            <i class="plus basic green icon"></i>
          </a>
        </div>
      </div>
      <div class="field">
        <label>Links</label>
        <div class="ui large labels">
          <div class="ui label" ng-repeat="link in container.links">
            {{ ::link }}
            <i class="delete basic red icon" ng-click="removeLink(link)"></i>
          </div>
        </div>
        <dropdown title="link" ng-model="newLink">
          <dropdown-group title="availableLink" ng-repeat="availableLink in availableLinks">{{ availableLink }}</dropdown-group>
        </dropdown>
      </div>
    </div>

    <div class="field">
      <label>Command</label>
      <input type="text" name="command" placeholder="Command to execute in a first place" ng-model="container.command">
    </div>

    <div class="ui hidden divider"></div>
    <a class="ui submit button green"
       ng-class="{ disabled: !createForm.$valid }"
       ng-show="$state.is('containers.create')"
       ng-click="create()">Create</a>
    <a class="ui submit button green"
       ng-class="{ disabled: !createForm.$valid }"
       ng-show="$state.is('containers.edit')"
       ng-click="update()">Update</a>
    <a class="ui submit button red"
       ng-class="{ disabled: !name }"
       ng-show="$state.is('containers.edit')"
       ng-click="remove()">Delete</a>
    <a class="ui submit button" ng-click="cancel()">Cancel</a>
  </form>
</div>
